
<style>
.footer {
  font-family: 'Fredoka One', cursive;
  background-color: var(--cor-azul-escuro);
  color: var(--cor-branco);
  text-align: center;
  padding: 0.85rem 0;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  box-shadow: 0 -0.25rem 0.625rem rgba(144, 202, 249, 0.5);
  user-select: none;
}

.footer p {
  font-weight: 100;
  margin: 0 0 0.5rem 0;
  font-size: 0.85rem;
}

.footer a,
.footer .link {
  color: var(--cor-branco);
  font-size: 0.75rem;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  transition: transform 0.3s ease;
  outline: none;
}

.footer a:hover,
.footer .link:hover {
  transform: scale(0.85);
}

.footer a i,
.footer .link i {
  font-size: 0.75rem;
  line-height: 1;
}
</style>

<footer class="footer">
  <div class="text-center">
    <p class="mb-2">
      &copy; 2025 Maiza Silva - Todos os direitos reservados.
    </p>
  </div>
  <div class="d-flex justify-content-center">
    <small class="mx-2">
      <i class="fas fa-file-contract"></i> <a href="#">Termos de Uso</a> e <a
      href="#">Política de Privacidade</a>
    </small>
  </div>
  <div class="d-flex justify-content-center">
    <small class="mx-1 link">
      <i class="fas fa-code"></i> com <i class="fas fa-heart"></i> por <a href="https://www.github.com/sebastianjnuwu" class="link">Sebastian Jn</a>
    </small>
  </div>
</footer>