<nav id="mainNav">
<!---  <a href="#temas" class="button"><i class="fas fa-book"></i> Temas</a>
  <a href="#aulas" class="button"><i class="fas fa-chalkboard-teacher me-1" aria-hidden="true"></i> Aulas</a>
  <a href="#material" class="button"><i class="fas fa-download me-1" aria-hidden="true"></i> Material</a>
  <a href="#correcoes" class="button"><i class="fas fa-file-alt me-1"
  aria-hidden="true"></i> Correções</a>--->
  <a href="#perfil" class="button"><i class="fas fa-user-circle me-1" aria-hidden="true"></i> Perfil</a>
  <a href="#contato" class="button"><i class="fas fa-headset me-1"
  aria-hidden="true"></i> Suporte</a> 
  <a id="logout" class="button">
  <i class="fas fa-sign-out-alt me-1" aria-hidden="true"></i> Sair
</a>
</nav>