<nav id="mainNav">
<!---  <a href="#usuarios" class="button"><i class="fas fa-users"></i> Usuários</a>
  <a href="#redacoes" class="button"><i class="fas fa-file-alt"></i> Redações</a>
  <a href="#temas" class="button"><i class="fas fa-book"></i> Temas</a>
  <a href="#materiais" class="button"><i class="fas fa-book"></i> Materiais</a>
    <a href="#ganhos" class="button">
  <i class="fas fa-dollar-sign"></i> Ganhos
</a>
  <a href="#aulas-admin" class="button"><i class="fas
  fa-chalkboard-teacher"></i> Aulas</a> -->
  <a href="#admin-pacotes" class="button"><i class="fas fa-layer-group"></i> Planos</a>
<a href="#logout" class="button">
  <i class="fas fa-sign-out-alt me-1" aria-hidden="true"></i> Sair
</a>
</nav>
